p
  .text-center.row(ng-show="schedules.length == 0")
    em.text-muted No date offer.

  ul.list-group
    li.list-group-item.row(ng-repeat="schedule in schedules | orderBy:'date'")
      .text-left.col-xs-8
        //{{ schedule.date | date:'MM-dd-yy' }}
        {{ schedule.date | amDateFormat:'ddd, MMM D' }}
        br
        //span.glyphicon.glyphicon-ok
        | available &nbsp;
        {{ schedule.available_users.length }}
        | &nbsp;
        //span.glyphicon.glyphicon-remove
        | unavailable &nbsp;
        {{ schedule.unavailable_users.length }}

      .text-center.col-xs-4
        button.btn.btn-primary(ng-disabled="!schedule.canBeAvailable", ng-click="addToAvailable(schedule)") Available
        | &nbsp;
        button.btn.btn-danger(ng-disabled="!schedule.canBeUnavailable", ng-click="addToUnavailable(schedule)") Unavailable


p.row
  form(ng-submit="addSchedule()")
    //.form-group
      div(ng-model="date", style="width:280px")
        datepicker

    .form-group
      input.input-block-level(type="text",
        ng-model="newSchedule.date",
        is-open="opened",
        date-disabled="datePicker.disabled(schedule,mode)",
        ng-required="true",
        min="datePicker.min",
        max="datePicker.max",
        datepicker-popup="EEE, MMM dd",
        placeholder="Click here"
        )
      | &nbsp;
      button.btn.btn-primary(type="submit") Add



    //label.control-label(for="activity.start_at") Date:
    //.form-horizontal
      input(type="text",
          ng-model="newSchedule.date",
          datepicker-popup="{{dateFormat}}",
          is-open="datePicker.opened",
          min="datePicker.minDate",
          max="datePicker.maxDate",
          datepicker-options="datePicker.dateOptions",
          date-disabled="disabled(date, mode)",
          placeholder="Date: {{minDate | date:dateFormat}}"
        )
      button.btn(ng-click="datePicker.opened = true")
        span.glyphicon.glyphicon-calendar

